@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500&display=swap');
body{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}
.home-start .row>* {
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}
.home-start p:last-child{
	margin-bottom:0;
}
.home-start{
	font-family: 'Raleway', sans-serif;
	font-size:18px;
}
.home-start .container{
	padding:0 15px
}
.desktopInlineBlock{
	vertical-align:top;
}
.home-top-inner{
	background:#ffffffc7;
	padding:25px
}
.home-top-inner h2{
	font-size:50px;
	padding-top:20px;
	position:relative;
	font-weight: 100;
	margin-top:15px;
}
.home-top-inner h2:after {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    background: #6d757a;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
	top:0;
}
.home-img-text{
	background:#2a3b40;
	color:#fff;
}
.setion-title{
	font-size:29px;
	font-weight:800;
	font-family: 'Raleway', sans-serif;
}
.home-vision{
	background:#d4d8d9;
	color:#1c1c1c;
	
}
.home-grid{
	background:url(..https://www-sp-edu-sg-admin.cwp.sg/images/default-source/mae/tech-industry-partnerships/grid-row-bg.jpg) no-repeat left top / cover;
}
.home-grid .mid-grid-home{
	padding:0;
}
.mid-grid-home .overlay-img,.mid-grid-home .mid-details-grid{
		width:50%;
}
.mid-details-grid{
	background: #ffffffc7;
    display: flex;
    align-items: center;
    padding: 0 40px;
}
.mid-grid-home h2 {
    font-size: 23px;
    margin:0;
	position: relative;
	padding-bottom:15px;
	font-family: 'Raleway', sans-serif;
}
.mid-grid-home h2:before {
    content: "";
    position: absolute;
    width: 70px;
    height: 4px;
    display: block;
    margin: 0 auto;
    bottom: 0;
}
.overlay-img{
	 position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor:pointer;
  opacity: 0.8;
}
.overlay-img:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.read-more {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
      text-decoration: none;
}
.read-more:hover{color:#fff;}
h2.bargandi:before,.overlay.bargandi{
	    background: #c36500;
}
h2.lightblue:before,.overlay.lightblue{
	    background: #0fa2c7;
}
h2.green:before,.overlay.green{
	    background: #8b9c45;
}
h2.blue:before,.overlay.blue{
	    background: #004d7e;
}
h2.red:before,.overlay.red{
	    background: #ff0404;
}
h2.yellow:before,.overlay.yellow{
	    background: #e7ec12;
}
.footer-top{
	background:#2a3b40;
}
.f-inner{
	background:#d9dcdd;
	color:#2a3b40;
}
.btn-blue{
	background:#0fa2c7;
	color:#fff;
    border-radius: 0;
	padding:15px 50px;
}
.btn-blue:hover{
	background:#c79e0f;
	color:#fff;
    
}
.social-icon a{
	    width: 46px;
    height: 46px;
    border-radius: 50%;
    background: #fff;
    color: #2a3b40;
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    line-height: 48px;
}
@media only screen and (max-width: 767px) {
	.home-top-inner{
		width:85%;
	}
	.home-top-inner h2{
		font-size:28px;
	}
	.home-top-inner img{
		max-width:180px;
	}
	.setion-title{font-size:25px;}
	.mid-details-grid{padding:0 20px;}
	.mid-grid-home h2{font-size:17px;}
	.mid-grid-home:nth-child(odd) .mid-details-grid{
		order:2;
	}
	.mid-grid-home:nth-child(even) .overlay-img{
		order:2;
	}
}


